<!--search form-->
<div class="col-xs-4
            col-sm-4
            col-md-4
            col-lg-4">
    <h2>Edit</h2>
    <form name="editForm" ng-submit="ctrl.submit()">
        <div class="form-group">
            <label for="brand">Brand: </label>
            <input type="text" name="brand" id="brand"  ng-model="ctrl.brand" class="form-control" required minlength="4">
            <div ng-messages="editForm.productname.$error" role="alert">
                <div ng-message="required">Please enter a value for this field.</div>
                <div ng-message="minlength">This field must be at least 4 characters long.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="productname">Product Name: </label>
            <input type="text" name="productname" id="productname"  ng-model="ctrl.productname" class="form-control" required minlength="4">
            <div ng-messages="editForm.productname.$error" role="alert">
                <div ng-message="required">Please enter a value for this field.</div>
                <div ng-message="minlength">This field must be at least 4 characters long.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="UPC12">UPC12: </label>
            <input type="text" name="upc12" id="upc12"  ng-model="ctrl.upc12" class="form-control" required maxlength="12" minlength="8" ng-pattern="/^[0-9]*$/">
            <div ng-messages="editForm.upc12.$error" role="alert">
                <div ng-message="required">Please enter a value for this field.</div>
                <div ng-message="maxlength">This field can be at most 12 characters long.</div>
                <div ng-message="minlength">This field must be at least 8 characters long.</div>
                <div ng-message="pattern">Field should only contain numbers.</div>
            </div>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-default" ng-disabled="editForm.$invalid">Save</button>
            <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
        </div>

    </form>
</div>