<!--search form-->
<div class="col-xs-4
            col-sm-4
            col-md-4
            col-lg-4">
    <h2>Search</h2>
    <form name="searchForm" ng-submit="ctrl.submit()">
        <div class="form-group">
            <label for="brand">Brand: </label>
            <input type="text" name="brand" id="brand"  ng-model="ctrl.brand" class="form-control">
        </div>
        <div class="form-group">
            <label for="productname">Product Name: </label>
            <input type="text" name="productname" id="productname"  ng-model="ctrl.productname" class="form-control">
        </div>
        <div>
            {{ctrl.text}}
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-default" ng-disabled="ctrl.searchDisabled">Search</button>
        </div>
    </form>
</div>


<div class="col-xs-12
            col-sm-12
            col-md-12
            col-lg-12">
    <div ng-show="ctrl.resultShow">
        <table class="table">
            <thead>
                <th>UPC12</th>
                <th><a ng-click="ctrl.sortBy('name')">Product Name</a></th>
                <th><a ng-click="ctrl.sortBy('brand')">Brand</a></th>
                <th>Edit</th>
            </thead>
            <tbody>
                <tr ng-repeat="element in ctrl.searchList">
                    <td><img src="http://www.barcodes4.me/barcode/c128a/{{element.upc12}}.png?IsTextDrawn=1"></td>
                    <td>{{element.name}}</td>
                    <td>{{element.brand}}</td>
                    <td><a ng-click="ctrl.edit(element.id)"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>